PORT=5000
MONGO_URI='mongodb://localhost:27017/ShopSphere'
JWT_SECRET = amkjjkjkmm
NODE_ENV = development

# manual origin provided by project admin, ignore as its for production only
CURRENT_VERCEL_ORIGIN='<latest vercel origin goes here>'

# ignore below as they are production env vars, fulfilled by Vercel
VERCEL_URL="<vercel deployment specific origin>"
VERCEL_BRANCH_URL="<vercel branch specific origin>"
VERCEL_PROJECT_PRODUCTION_URL="<vercel project general origin>"

# used for fetching all the contributors 
VITE_GITHUB_API = "1234"